body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:518px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 30px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:5px 5px 30px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:5px 5px 30px rgba(0, 0, 0, 0.109803921568627);
}
#u8278 {
  position:absolute;
  left:19px;
  top:53px;
  width:291px;
  height:518px;
}
#u8279 {
  position:absolute;
  left:2px;
  top:251px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:17px;
}
#u8280 {
  position:absolute;
  left:19px;
  top:53px;
  width:291px;
  height:17px;
  opacity:0.5;
}
#u8281 {
  position:absolute;
  left:2px;
  top:0px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u8282 {
  position:absolute;
  left:19px;
  top:104px;
  width:291px;
  height:1px;
}
#u8283 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u8284 {
  position:absolute;
  left:33px;
  top:78px;
  width:25px;
  height:17px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u8285 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:304px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8286 {
  position:absolute;
  left:30px;
  top:174px;
  width:270px;
  height:304px;
}
#u8287 {
  position:absolute;
  left:2px;
  top:144px;
  width:266px;
  word-wrap:break-word;
}
#u8288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8288 {
  position:absolute;
  left:30px;
  top:115px;
  width:270px;
  height:49px;
}
#u8289 {
  position:absolute;
  left:2px;
  top:16px;
  width:266px;
  word-wrap:break-word;
}
#u8290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8290 {
  position:absolute;
  left:30px;
  top:515px;
  width:270px;
  height:49px;
}
#u8291 {
  position:absolute;
  left:2px;
  top:16px;
  width:266px;
  word-wrap:break-word;
}
#u8292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8292 {
  position:absolute;
  left:349px;
  top:71px;
  width:300px;
  height:190px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8293 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
