body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6384 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:976px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6385 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:976px;
}
#u6386 {
  position:absolute;
  left:2px;
  top:480px;
  width:1436px;
  word-wrap:break-word;
}
#u6387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:976px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6387 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:976px;
}
#u6388 {
  position:absolute;
  left:2px;
  top:480px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6389 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6391 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
}
#u6392 {
  position:absolute;
  left:2px;
  top:24px;
  width:252px;
  word-wrap:break-word;
}
#u6393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u6393 {
  position:absolute;
  left:24px;
  top:16px;
  width:139px;
  height:32px;
}
#u6394 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6395 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6396 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6397 {
  position:absolute;
  left:0px;
  top:65px;
  width:256px;
  height:61px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6398 {
  position:absolute;
  left:50px;
  top:24px;
  width:204px;
  word-wrap:break-word;
}
#u6399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u6399 {
  position:absolute;
  left:24px;
  top:93px;
  width:14px;
  height:13px;
}
#u6400 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6401 {
  position:absolute;
  left:226px;
  top:93px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6402 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6403 {
  position:absolute;
  left:0px;
  top:126px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6404 {
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u6405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6406 {
  position:absolute;
  left:0px;
  top:247px;
  width:256px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6407 {
  position:absolute;
  left:50px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u6408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6408 {
  position:absolute;
  left:226px;
  top:266px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6409 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6410 {
  position:absolute;
  left:24px;
  top:264px;
  width:14px;
  height:14px;
}
#u6411 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6412 {
  position:absolute;
  left:0px;
  top:166px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6413 {
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u6414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6414 {
  position:absolute;
  left:0px;
  top:206px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6415 {
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u6416 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6417 {
  position:absolute;
  left:0px;
  top:300px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6418 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u6419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6419 {
  position:absolute;
  left:226px;
  top:319px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6420 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u6421 {
  position:absolute;
  left:24px;
  top:321px;
  width:14px;
  height:12px;
}
#u6422 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6423 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6424 {
  position:absolute;
  left:0px;
  top:354px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6425 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u6426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6426 {
  position:absolute;
  left:226px;
  top:373px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6427 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6428 {
  position:absolute;
  left:24px;
  top:374px;
  width:14px;
  height:14px;
}
#u6429 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6430 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6431 {
  position:absolute;
  left:0px;
  top:408px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6432 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u6433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6433 {
  position:absolute;
  left:226px;
  top:428px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6434 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6435 {
  position:absolute;
  left:24px;
  top:428px;
  width:14px;
  height:14px;
}
#u6436 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6437 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6438 {
  position:absolute;
  left:0px;
  top:462px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6439 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u6440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6440 {
  position:absolute;
  left:226px;
  top:482px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6441 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u6442 {
  position:absolute;
  left:24px;
  top:483px;
  width:14px;
  height:12px;
}
#u6443 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6444 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6445 {
  position:absolute;
  left:256px;
  top:0px;
  width:1184px;
  height:64px;
}
#u6446 {
  position:absolute;
  left:2px;
  top:24px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u6447 {
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
}
#u6448 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6450 {
  position:absolute;
  left:1317px;
  top:21px;
  width:24px;
  height:24px;
}
#u6451 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6452 {
  position:absolute;
  left:1349px;
  top:22px;
  width:62px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6453 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u6454 {
  position:absolute;
  left:1277px;
  top:22px;
  width:16px;
  height:21px;
}
#u6455 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u6456 {
  position:absolute;
  left:1235px;
  top:23px;
  width:18px;
  height:19px;
}
#u6457 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6458 {
  position:absolute;
  left:1382px;
  top:88px;
  width:1px;
  height:32px;
  overflow:hidden;
}
#u6458_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6458_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6459 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:638px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u6460 {
  position:absolute;
  left:279px;
  top:225px;
  width:1136px;
  height:638px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u6461 {
  position:absolute;
  left:16px;
  top:16px;
  width:1104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6462 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6464 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6465 {
  position:absolute;
  left:711px;
  top:263px;
  width:89px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6466 {
  position:absolute;
  left:8px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6467 {
  position:absolute;
  left:697px;
  top:267px;
  width:14px;
  height:14px;
}
#u6468 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u6469 {
  position:absolute;
  left:627px;
  top:259px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u6470 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u6471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6473 {
  position:absolute;
  left:711px;
  top:321px;
  width:89px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6474 {
  position:absolute;
  left:8px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6475 {
  position:absolute;
  left:697px;
  top:325px;
  width:14px;
  height:14px;
}
#u6476 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6477 {
  position:absolute;
  left:699px;
  top:327px;
  width:10px;
  height:10px;
}
#u6478 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u6479 {
  position:absolute;
  left:697px;
  top:349px;
  width:470px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u6480 {
  position:absolute;
  left:0px;
  top:8px;
  width:470px;
  word-wrap:break-word;
}
#u6481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u6481 {
  position:absolute;
  left:697px;
  top:285px;
  width:243px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u6482 {
  position:absolute;
  left:2px;
  top:1px;
  width:239px;
  word-wrap:break-word;
}
#u6483 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6484 {
  position:absolute;
  left:850px;
  top:651px;
  width:32px;
  height:32px;
  opacity:0;
  color:#FFFFFF;
}
#u6485 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u6486 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u6487 {
  position:absolute;
  left:850px;
  top:683px;
  width:95px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u6488 {
  position:absolute;
  left:16px;
  top:4px;
  width:63px;
  white-space:nowrap;
}
#u6489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6489 {
  position:absolute;
  left:866px;
  top:691px;
  width:16px;
  height:16px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u6490 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6492 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u6494 {
  position:absolute;
  left:763px;
  top:910px;
  width:69px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u6495 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u6496 {
  position:absolute;
  left:832px;
  top:910px;
  width:69px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u6497 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u6498 {
  position:absolute;
  left:901px;
  top:910px;
  width:29px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u6499 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6500 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6501 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u6502 {
  position:absolute;
  left:788px;
  top:931px;
  width:195px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u6503 {
  position:absolute;
  left:4px;
  top:8px;
  width:191px;
  white-space:nowrap;
}
#u6504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6504 {
  position:absolute;
  left:776px;
  top:944px;
  width:12px;
  height:12px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u6505 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u6507 {
  position:absolute;
  left:710px;
  top:931px;
  width:69px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u6508 {
  position:absolute;
  left:0px;
  top:8px;
  width:65px;
  white-space:nowrap;
}
#u6509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6509 {
  position:absolute;
  left:823px;
  top:862px;
  width:48px;
  height:48px;
  opacity:0;
  color:#FFFFFF;
}
#u6510 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u6511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u6511 {
  position:absolute;
  left:840px;
  top:960px;
  width:16px;
  height:16px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u6512 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  word-wrap:break-word;
}
#u6513 {
  position:absolute;
  left:255px;
  top:155px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u6513_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6513_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6514 {
  position:absolute;
  left:1415px;
  top:155px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u6514_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6514_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6515 {
  position:absolute;
  left:1415px;
  top:816px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u6515_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6515_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6516 {
  position:absolute;
  left:255px;
  top:816px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u6516_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6516_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Malayalam MN Regular', 'Malayalam MN';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6518 {
  position:absolute;
  left:256px;
  top:64px;
  width:1184px;
  height:136px;
  font-family:'Malayalam MN Regular', 'Malayalam MN';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6519 {
  position:absolute;
  left:36px;
  top:18px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u6520 {
  position:absolute;
  left:256px;
  top:65px;
  width:249px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u6521 {
  position:absolute;
  left:32px;
  top:16px;
  width:217px;
  white-space:nowrap;
}
#u6522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 粗体', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u6522 {
  position:absolute;
  left:256px;
  top:118px;
  width:113px;
  height:44px;
  font-family:'PingFang SC 粗体', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u6523 {
  position:absolute;
  left:32px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6524 {
  position:absolute;
  left:256px;
  top:162px;
  width:509px;
  height:38px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6525 {
  position:absolute;
  left:32px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
#u6526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6526 {
  position:absolute;
  left:479px;
  top:200px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u6527 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6528 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u6529 {
  position:absolute;
  left:628px;
  top:441px;
  width:43px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u6530 {
  position:absolute;
  left:0px;
  top:4px;
  width:43px;
  white-space:nowrap;
}
#u6531 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6532 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6533 {
  position:absolute;
  left:672px;
  top:441px;
  width:111px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6534 {
  position:absolute;
  left:38px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u6535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6535 {
  position:absolute;
  left:688px;
  top:450px;
  width:14px;
  height:14px;
}
#u6536 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u6537 {
  position:absolute;
  left:672px;
  top:472px;
  width:440px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u6538 {
  position:absolute;
  left:0px;
  top:3px;
  width:440px;
  word-wrap:break-word;
}
#u6539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6539 {
  position:absolute;
  left:801px;
  top:457px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6540 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u6541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u6541 {
  position:absolute;
  left:795px;
  top:258px;
  width:145px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u6542 {
  position:absolute;
  left:12px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u6543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:258px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'苹方 粗体', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6543 {
  position:absolute;
  left:971px;
  top:582px;
  width:163px;
  height:258px;
  font-family:'苹方 粗体', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6544 {
  position:absolute;
  left:10px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
