.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.line {
}
.sticky_2 {
  text-align:left;
}
._图像 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
._流程形状 {
}
.primary_button {
  color:#FFFFFF;
}
.box_3 {
}
.ellipse {
}
.placeholder {
}
.icon {
}
._图片 {
}
.image {
}
.sticky_1 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.shape {
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.arrow {
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.button {
}
._图片1 {
}
.flow_shape {
}
.ellipse1 {
}
.image1 {
  color:#000000;
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.box_21 {
}
.radio_button {
  text-align:left;
}
.shape1 {
}
.box_11 {
}
.image2 {
  color:#000000;
}
.box_22 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.horizontal_line {
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.ellipse2 {
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.paragraph1 {
  text-align:left;
}
.horizontal_line1 {
}
.line1 {
}
.box_12 {
}
.table_cell {
}
.line2 {
}
.box_31 {
}
