body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1144px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:518px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 30px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:5px 5px 30px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:5px 5px 30px rgba(0, 0, 0, 0.109803921568627);
}
#u8045 {
  position:absolute;
  left:14px;
  top:44px;
  width:291px;
  height:518px;
}
#u8046 {
  position:absolute;
  left:2px;
  top:251px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:17px;
}
#u8047 {
  position:absolute;
  left:14px;
  top:44px;
  width:291px;
  height:17px;
  opacity:0.5;
}
#u8048 {
  position:absolute;
  left:2px;
  top:0px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u8049 {
  position:absolute;
  left:14px;
  top:95px;
  width:291px;
  height:1px;
}
#u8050 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u8051 {
  position:absolute;
  left:28px;
  top:69px;
  width:25px;
  height:17px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u8052 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:466px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8053 {
  position:absolute;
  left:14px;
  top:96px;
  width:291px;
  height:466px;
}
#u8054 {
  position:absolute;
  left:2px;
  top:225px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u8056 {
  position:absolute;
  left:128px;
  top:465px;
  width:64px;
  height:64px;
}
#u8057 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u8058 {
  position:absolute;
  left:138px;
  top:475px;
  width:44px;
  height:44px;
}
#u8059 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:12px;
}
#u8060 {
  position:absolute;
  left:77px;
  top:491px;
  width:21px;
  height:12px;
}
#u8061 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u8062 {
  position:absolute;
  left:256px;
  top:106px;
  width:37px;
  height:37px;
}
#u8063 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 粗体', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u8064 {
  position:absolute;
  left:14px;
  top:19px;
  width:110px;
  height:25px;
  font-family:'PingFang SC 粗体', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u8065 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u8066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8066 {
  position:absolute;
  left:346px;
  top:440px;
  width:300px;
  height:114px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8067 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:518px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 30px rgba(0, 0, 0, 0.109803921568627);
  -webkit-box-shadow:5px 5px 30px rgba(0, 0, 0, 0.109803921568627);
  box-shadow:5px 5px 30px rgba(0, 0, 0, 0.109803921568627);
}
#u8068 {
  position:absolute;
  left:853px;
  top:44px;
  width:291px;
  height:518px;
}
#u8069 {
  position:absolute;
  left:2px;
  top:251px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:17px;
}
#u8070 {
  position:absolute;
  left:853px;
  top:44px;
  width:291px;
  height:17px;
  opacity:0.5;
}
#u8071 {
  position:absolute;
  left:2px;
  top:0px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u8072 {
  position:absolute;
  left:853px;
  top:95px;
  width:291px;
  height:1px;
}
#u8073 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u8074 {
  position:absolute;
  left:867px;
  top:69px;
  width:25px;
  height:17px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u8075 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:466px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8076 {
  position:absolute;
  left:853px;
  top:96px;
  width:291px;
  height:466px;
}
#u8077 {
  position:absolute;
  left:2px;
  top:225px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 粗体', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u8078 {
  position:absolute;
  left:853px;
  top:19px;
  width:110px;
  height:25px;
  font-family:'PingFang SC 粗体', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u8079 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u8080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u8082 {
  position:absolute;
  left:905px;
  top:462px;
  width:67px;
  height:67px;
}
#u8083 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u8084 {
  position:absolute;
  left:924px;
  top:483px;
  width:29px;
  height:26px;
}
#u8085 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u8088 {
  position:absolute;
  left:1025px;
  top:462px;
  width:67px;
  height:67px;
}
#u8089 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u8090 {
  position:absolute;
  left:1043px;
  top:484px;
  width:32px;
  height:24px;
}
#u8091 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
